<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<!-- Enable Annotation based Declarative Transaction Management -->
	<tx:annotation-driven proxy-target-class="true" transaction-manager="transactionManager" />

	<!-- Creating TransactionManager Bean, since JDBC we are creating of type  DataSourceTransactionManager -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- MSSQL DataSource -->	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
		<property name="url" value="jdbc:sqlserver://localhost:1433;databaseName=CRUDUltramax" />
		<property name="username" value="sa" />
		<property name="password" value="sa" />
	</bean>

	<bean id="clienteDAO" class="br.com.ultramax.exemplojsf.model.ClienteDAO">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<bean id="clienteService" class="br.com.ultramax.exemplojsf.model.ClienteService">
		<property name="clienteDAO" ref="clienteDAO"></property>
	</bean>

</beans>
